body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1ebd39;
    color: #000000;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.menu {
    margin-top: 10px;
    padding: 50px;
    text-align: center;
}

.nav-button {
    background-color: #613700;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #494847;
}

main {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.section {
    margin: 30px 0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    color: #000000;
    text-align: center;
}

p {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

ul {
    font-size: 18px;
    padding: 10px 30px;
}

img {
    margin-top: 10px;
    border-radius: 10px;
}

h3{
    text-align: center;
}

.p1 {
   text-align: left; 
}

.p2 {
    text-align: left;
}
   
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 16px;
}

h4 {
  font-size: 20px;
}

.h4 {
  text-align: left;
}


h5 {
    font-size: 20px;
}

.h5 {
  text-align: left;
}

h6 {
    font-size: 20px;
}

.h6{
  text-align: left
}

h7{
  font-size: 20px;
  
}

.h7{
    text-align: left;
}

h8{
    font-size: 20px;
}

.kj{
    text-align: left;
}

h9{
    font-size: 20px;
}

.bj{
    text-align: left;
}

.mp{
    text-align: center;
}

.vp{
    text-align: left;
}
